<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Create User</h2>
<br>
<form th:action="@{/admin/save-user}" th:object="${user}" method="post">
    <div>

        <label for="username">username</label>
        <input type="text" th:field="*{username}" id="username"/>

        <br/>

        <label for="email">email</label>
        <input type="text" th:field="*{email}" id="email"/>

        <br>

        <label for="password">password</label>
        <input type="text" th:field="*{password}" id="password"/>

        <br>
        <br>
        <input type="checkbox" name="checkBoxRoles" value="ROLE_USER"/>USER
        <input type="checkbox" name="checkBoxRoles" value="ROLE_ADMIN"/>ADMIN
        <br>
        <input type="submit" value="create"/>
    </div>
    <a th:href="@{/logout}">LOGOUT</a>
</form>

</body>

</html>
